
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text');
body {
    font-size: larger;
    font-family: 'Bellota Text';
    background-color: rgb(231, 215, 193);
}

main {
    padding-top: 1em;
}

/* unvisited link */
main a:link {
    color: rgb(0, 0, 0);
}
/* visited link */
main a:visited {
    color: #095484;
}
/* mouse over link */
main a:hover {
    color: #8ebf42;
}
/* selected link */
main a:active {
    color: #800000;
}