{{ define "main" }}
<section class="resume-section p-3 p-lg-5 d-flex flex-column">
    <div class="my-auto">
        <div id="search-results">
            <h3>Matching pages</h3>
        </div>
    </div>
</section>
<!-- 
     This template is sucked in by search.js and appended to the search-results div above. 
     So editing here will adjust style 
-->
<script id="search-result-template" type="text/x-js-template">
    <div id="summary-${key}">
      <h4><a href="${link}">${title}</a></h4>
      <p>${snippet}</p>
      ${ isset tags }<p>Tags: ${tags}</p>${ end }
      ${ isset categories }<p>Categories: ${categories}</p>${ end }
    </div>
</script>
{{ end }}