{{ define "main" }}
<main>
    <div>
        <h1>{{ .Title }}</h1>

        {{ if isset .Params "date" }}
        <span class="text-muted">
            {{ .Date.Format "Jan 2, 2006" }}
        </span>
        {{ end }}        
    </div>
    {{ .Content }}
    {{ partial "image" . }}
</main>
{{ end }}