{{ define "main" }}
<main>
    <h1>
        Acerca de
    </h1>

    <p lang="es-MX">
        Hola soy el ro, me dedico a estudiar computadoras.
        Este sitio lo usaré por el momento cómo un lugar para capturar notas,
        prácticar códigos, descifrar misterios, subir fotos, tutoriales y otras cosas por el estilo.
    </p>

    <p>
        <strong>Contacto:</strong> @romx:matrix.org
    </p>
</main>
{{ end }}